a{
  text-decoration: none; 
  color:black;
  } 
a:hover {
  text-decoration: underline;
 } 
ul{
    list-style:none;
}
p{
font-size: 10px;
color: #000000;
}

#table1{
	border-top: 100px;
}

#borde{
	background-color: #cccfff;
	border:0;
	
	}

#table{
	border:0;
}

#p{ color: #0000FF;
}

body{
   /*background-color: #FFFFFF;*/
	background-repeat: no-repeat;
	/*background-position: center center;*/
	
}

#menu{
  position:absolute;
  color: #EDF9FA;
  top: 152px;
  left:40px;
  /*background-color: #FFFFFF;*/
  height: 650px;
  width: 150;
}

#header{
/*background-color: #FFFFFF;*/
position:absolute;
	margin-left:20px;
    position: absolute;
  	   
}
#body{
   position:absolute;
/*   background-color: #FFFFFF;   */
   left:153px;
   top:200px;
   width: 1075px;
   height:649px;
   /*overflow: auto;*/
}
#foot{
   margin-left:2%;
   position: absolute;
   left: 197px;
   top:	550px;
  
   width: 969px;
   height:110px;
}


#titulo{
		/*background-color: #FFFFFF;*/
		color: #DAD5EE;
		font-size: 25px;
		text-align: center;
		width:600px;
		height:38px;
	}
.contenidoNoticia{
		font-size: 18px;
}

.footNoticia{
	background-color: #160F0F;
	color: #FFFFFF;
	text-align: right;
	}
	
.listComentario{
	background-color: #D0500F;
}

#body table{
	text-align:center;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border: 0;
}

#buscador{
	position: absolute;
	margin-left: 10px;
	margin-top: 20px;
	float: right;
	font-size: 18px;
	width: 44px;
	height: 24px;
	left: 22px;
	top: -97px;
	background-color: #cccfff;
	height: 80px;
	width: 200px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	
}
#borde-redon{
	border: 0;
	 background-color: #cccfff;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;

}
#tabla3{
position: absolute;
height:498px;
width:783px;
margin-top:297px;
margin-left:91px;
}
.inputB{
		background-color: #ffffff;
		color: #000000;
		font-size: 18px;
	}
	
	#coincide{
		background-color: #FFE800; 
	font-size: 32;
	}
	
	#footer {
	position:absolute;
	left:750px;
	top:555px;
	width:319px;
	height:113px;
	z-index:1;
}
.foottexto1 {font-size: 11px}
.foottexto2 {font-size: 11px}
#ul{
list-style:none;
display: inline-block;
text-decoration:none;
color:fff;
font-size:24px;
background-color:#66FF00;
}

#link{
color: #000099;
}

#body #textoHelp{
	display: block;
	margin-left: 110px;
	font-family:Arial, Helvetica, sans-serif;
	color:#003366
}
.barrademenu {
margin: 0;
padding: 0;
float: left; width: 100%;
font-family: Tahoma;
font-size:13px;
font-weight: bold;
margin-top: 0px;
border-bottom: 2px solid black;
border-top: 2px solid black;
background: #cccfff;

}
.barrademenu li {display: inline;}
.barrademenu li a, .solidblockmenu li a:visited {
float: left;
padding: 1px 10px;
text-decoration: none;
color: black;
border-right: 2px solid black;
outline: none;
}
.barrademenu li a:hover {
color: #000000;
background: blue;
outline: none;
}


.titCategoria {
	font-size: 11px;
color: #ffffff;
background: #ffffff;
outline: none;
}

.texto-chico {
	font-size: 11px;
color: #000000;
background: #ffffff;
outline: none;
}

.texto-comun {
	font-size: 11px;
color: #000000;
background: #ffffff;
outline: none;
}

.tit-verde {
	font-size: 11px;
color: #000000;
background: ;
outline: none;
}

.enlaces {
	font-size: 11px;
color: #000000;
background: ;


}
.text-marroncito {
	font-size: 11px;
color: #000000;
background: white;
outline: none;
}

.txt-paginador {
	font-size: 11px;
color: #000000;
background:whitd;
outline: none;
}
.titCategoria {
	font-size: 11px;
color:red;
background: ;
outline: none;
}